{% extends "base.html" %}

{% block content %}
<div class="form login">
<h1>Вход в систему</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        {{form.username.label}}{{form.username}}
		{% for error in form.errors.username %}
		<span class="error">* {{error}}</span>
		{% endfor %}<br>
		{{form.password.label}}{{form.password}}
		{% for error in form.errors.password %}
		<span class="error">* {{error}}</span>
		{% endfor %}<br>
    </p>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for message in messages %}
	<li class="error"><span>{{message}}</span></li>
	{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
<!--    <p>{{form.remember_me}} Помнить меня </p>
-->
	<div class="button">
	    <input type="submit" value="Войти">
	</div>
</form>
</div>
{% endblock %}
